/*...................................................*/

#subhead {
    font-family: "Vast Shadow", cursive;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;

    color: white;
    background: black;
    border: 2px solid white;
    padding: 0 10px;
    text-align: center;
}

img {
    display: inline-block; /* panaikinamas papildomas tarpas paveiksliukuose kuris buvo anksciau*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*kad nebutu papildomu nereikalingu tarpu*/
}

/*...................................................*/
#page {
    
    color: white;
    background: black;
    border: 2px solid white;

    margin: 0 auto; /* centruoti */
    padding: auto;
    width: 55%;
    height: 100%;
}
/*..............................................*/


.h2, h2 {
    font-size: 3rem;
}

/*..............................................*/

#reklama {
     border-left: 2px solid white;
    color: white;
    background: black;

    padding: 10px 10px;
    width: 40%;
    max-height:  990px;   
}

#reklama img {
        height: 100%;
}

/*...................................................*/
#header {
    padding: 8%;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}
/*.................FC6 oranzine spalva.....................*/
#header {
    background: #ffab04;
}

#header h1 {
    padding: 10px;
}

#content {
    /*    display: flex;
  flex-wrap: wrap; */
   color: #0180ff;
    background: black;

     height: 70vh;
    padding: 0 10px;
    text-align: center;
    width: 60%;
}

#content h2 {
    margin: 10px 0;
}

#header {
    
    background: black;
    border: 2px solid white;
    clear: both;
    text-align: center;
    width: 100%;
}

/*.................Background paveikliuko nustatymai.....................*/

body {
    justify-content: center;
    background-image: url("img/bg/bg-header.jpg"); /*back*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; /*kad vaizdas butu neistemptas*/
}

/*Pakopiniais stiliais panaikinkite ženklinimą ir paraštes:*/

/*.................Atsiliepimu Stile.....................*/

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.3rem; /*1.3 rem*/
}

select {
    height: calc(2.5em + .75rem + 2px) !important;
    font-size: 1.3rem !important;
    }

label {
    padding: 12px 12px 12px 0; 
    display: inline-block;
    font-size: 15px;
}

.container-feedback {
    border-radius: 5px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
/* Clear floats after the columns */
.row-feedback:after {
    content: "";
    display: table;
    clear: both;
}

#content input[type="submit"] {
    background-color: #4caf50; /*mygtuko spalva*/
    color: white; /*teksto spalva*/
    padding: 12px 20px;
    border: none;
    cursor: pointer; /*kursioriuk rankyte*/
    float: right;
}

.second-container-data{
    width: 100%;
}

#content input[type="submit"]:hover {
    background-color: #45a049;
}

#content {
        height: auto;
        padding-bottom: 10px;
    }


/* Styling the button */



span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}


@media screen and (max-width: 1200px) {


    #reklama img {
        height: 100%;   
        width: 80%;

}

        #container-root {
        display: flex;
        flex-direction: column;
    }

    #reklama {
        width: 100% !important;
        border: 2px solid white;
    }
    #content {
        width: 100% !important;
    }

     #header {
        padding-top: 10%;
    }

        .container-root {
        display: flex;
        flex-direction: column;
    }



}
@media screen and (max-width: 850px) {
    #header {
        padding-top: 14%;
    }
    #subhead {
        min-width: auto;
    }
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
    }

        #reklama img {
        height: 100%;   
        width: 90%;
}
}

@media screen and (max-width: 768px) {

    #header {
        padding-top: 18%;
    }
            #reklama img {
        height: 100%;   
        width: 100%;
}
}




.darkmode--activated label,
.darkmode--activated .footer a,
.darkmode--activated .first-container h1, 
.darkmode--activated .second-container h1
{
    color: black;
}


/* COpy */

/* Menu*/



.darkmode-background {
    background: #000 !important;
  }






.popup {
     /* width: 80%; */
    padding: 15px;
    /* left: 0; */
    margin-left: 5%;
    border: 1px solid rgb(1,82,73);
    border-radius: 10px;
    color: rgb(1,82,73);
    background: white;
    position: absolute;
    top: 50%;
    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.85);
  z-index: 10000;
  display :none;
}

@media (min-width: 300px) {
  .popup {
    width: 53%;
  }
}
@media (min-width: 500px) {
  .popup {
     width: 33.33333%;
    margin-left: 25%;
  }
}
@media (min-width: 1200px) {
  .popup {
    width: 45%;
    margin-left: 33.33333%;
  }
}

@media (min-width: 768px){
.col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

.dialog-btn {
  background-color:#44B78B;
  color: white;
  font-weight: 700;
  border: 1px solid #44B78B;
  border-radius: 10px;
    height: 8vh;
    width: 17vh;
}
.dialog-btn:hover {
  background-color:#015249;
  cursor: pointer;
}


/* Roboto is Material's default font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 button{
  margin: 0 auto;
  width: 50%;
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  margin-bottom: 0.2cm; 
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
 border-radius: 2.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

 button {
  margin: 0 auto;
  width: 50%;
}



/* GAME */

.grid {
  width: 100%; /* 400px */
  height: 600px;
  background-image: url('../img/gallery/background.png');
  position: relative;
  font-size: 100px;
  text-align: center;
}

.doodler {
  width: 87px;
  height: 85px;
  background-image: url('../img/gallery/doodler-guy.png');
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('../img/gallery/platform.png');
  position: absolute;
}
