/* 
//////////////////////////////////////////////
/////////////MENU nustatymai////////////
////////////////////////////////////////////////
*/

/* navigation styles start here */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

:root {
    --background: rgba(0, 214, 170, 0.85);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgba(38, 38, 38, 0.45);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

nav a{
    font-family: "Quattrocento", serif;
 }

.darkmode--activated ul{
  color: black !important;
}

header {
    background: rgba(255, 255, 255, 0.507);
    text-align: center;
    /* */
    position: fixed;
    z-index: 999;
    width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: rgb(0, 0, 0);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgb(24 93 79 / 85%);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: rgb(0, 0, 0) ;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.logo:hover{
    
        clip-path:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

nav a:hover {
  color: rgba(0, 0, 0, 0.829);
  transition: opacity .52s cubic-bezier(0.24, .11, 0.38, 0.84);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    height: 13vh;
     padding-left: 5%;
}

/* iki 1280px*/
@media (max-width: 1280px) {
    .logo {
        height: 10vh;
    }
}

/* nuo 550 */
@media (max-width: 750px) {
        nav ul {
        display: flex;
          width: 100%;
          flex-flow: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    }

    .logo {
        width: 15vh;
        float: right;
    }
}

/* nuo 550 iki 900 galioja */
@media (min-width: 1200px) {
    .nav-toggle-label {
        display: none;
    }
/* 1 FR lankstuma - 100 proc laisvos vietos
minmax(min,max) - kai max yra mazesnis uz min, tai     color: white !important;funkcija naudos min (3+1+1)*/
    header{
         display: flex;
        justify-content:space-between;

    }

    .logo {
        display: flex;
        justify-content:space-between;

   
        height: 10vh;
    }

    nav {

        /* the following lines are not from my video, but add Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */

        display: flex;
        justify-content: center;
        align-items: center;


    }

    nav ul {
        display: flex;
          width: 100%;
    justify-content: space-evenly;

    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 5px;
        background: rgba(0, 0, 0, 0.863);
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}
